

.nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
  }
  
  .nav button {
    width: 50px;
    margin: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(78, 90, 107);
    color: white;
    font-size: 15px;
   font-weight: bold;
    cursor: pointer;
  }
  
.account{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.icon{
    position: relative;
    right: 140px;
}

.icon p{
    font-size: 25px;
    margin-left: 10px;
}

.role{
    position: absolute;
    top: 0;
    left: 50px;
    
}


.materialTable{
    width: 90%;
    padding-left: 15em;
    padding-bottom: 5em;
    position: relative;
    bottom: 8em;
}


